@font-face {
    font-family: 'press_style_extra_lregular';
    src: url('../fonts/press_style_extra_l-webfont.eot');
    src: url('../fonts/press_style_extra_l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/press_style_extra_l-webfont.woff2') format('woff2'),
         url('../fonts/press_style_extra_l-webfont.woff') format('woff'),
         url('../fonts/press_style_extra_l-webfont.ttf') format('truetype'),
         url('../fonts/press_style_extra_l-webfont.svg#press_style_extra_lregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body, .container-fluid{
  height: 100%;
  margin: 0;
}


.container-fluid{
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

.header{
  background-color: rgba(0, 0, 0, .7);
  height: 100px;
  text-align: center;
}

.logo{
  height: 90px;
}

.title{
  color: white;
  font-family: 'press_style_extra_lregular';
  font-size: 50px;
  padding-top: 15px;
}